<div className="container position-sticky z-index-sticky top-0">
    <div className="row">
      <div className="col-12">
       
        <nav className="navbar navbar-expand-lg blur blur-rounded position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
          
          <div className="container-fluid pe-0">
            <a className="navbar-brand font-weight-bolder ms-lg-0 ms-3 " routerLink="/">
            Pristine Providers
            </a>
            <button className="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span className="navbar-toggler-icon mt-2">
                <span className="navbar-toggler-bar bar1"></span>
                <span className="navbar-toggler-bar bar2"></span>
                <span className="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div className="collapse navbar-collapse" id="navigation">
              <ul className="navbar-nav mx-auto ms-xl-auto me-xl-7">
                <li className="nav-item">
                  <a className="nav-link d-flex align-items-center me-2 text-dark active" aria-current="page" routerLink="/" activeclassname="active">
                    <i className="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                   Home
                  </a>
                </li>
                <li className="nav-item">
                  <a className="nav-link me-2 text-dark " routerLink="/pvd">
                    <i className="fa fa-user opacity-6 text-dark me-1"></i>
                   Providers
                  </a>
                </li>
                <li className="nav-item">
                  <a className="nav-link me-2 text-dark" routerLink="/ser">
                    <i className="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    Services
                  </a>
                </li>
                <li className="nav-item">
                  <a className="nav-link me-2 text-dark" routerLink="/booking">
                    <i className="fas fa-user-circle opacity-6 text-dark me-1"></i>
                    Booking
                  </a>
                </li>

                <li className="nav-item">
                  <a className="nav-link me-2 text-dark" routerLink="/contact">
                    <i className="fas fa-key opacity-6 text-dark me-1"></i>
                    Contact
                  </a>
                </li>
              </ul>
              
            </div>
          </div>
        </nav>
       
      </div>
    </div>
  </div>
